{% assign honors = site.data.data.honors %}
{% if honors %}
<section class="section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
    </span>
    {{ honors.title }}
  </h2>

    {% for honor in honors.details %}
    
        <div class="upper-row">
          <li class="degree">{{ honor.name }}</li>
          <div class="time">{{ honor.year }}</div>
        </div><!--//upper-row-->
	
    
    {% endfor %}

</section><!--//honors-section-->
{% endif %}
