{% assign mentoring = site.data.data.mentoring %}
{% if mentoring %}
<section class="section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-book fa-stack-1x fa-inverse"></i>
    </span>
    {{ mentoring.title }}
  </h2>

    {% for mentoring in mentoring.details %}
    
        <div class="upper-row">
          <li class="degree">{{ mentoring.name }}</li>
          <div class="time">{{ mentoring.year }}</div>
        </div><!--//upper-row-->
	
    
    {% endfor %}

</section><!--//mentoring-section-->
{% endif %}
