{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  {% for skill in skills.toolset %}
  <div class="item">
      <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">{{ skill.name }}</h3>
      </div><!--//upper-row-->
    </div><!--//meta-->
    {% if skill.details %}
    <div class="details">
      {{ skill.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

